absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyascii
anyio
attrs
audioread
certifi
cffi
charset-normalizer
click
colorama
contourpy
coqpit-config
coqui-tts
coqui-tts-trainer
cryptography
cycler
decorator
distro
docopt
dotenv
einops
filelock
fonttools
frozenlist
fsspec
google-auth
google-genai
grpcio
gTTS
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
ImageIO
imageio-ffmpeg
inflect
Jinja2
joblib
kiwisolver
ko-speech-tools
lazy-loader
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
monotonic-alignment-search
more-itertools
moviepy
mpmath
msgpack
multidict
narwhals
networkx
num2words
numba
numpy
openai-whisper
packaging
pillow
platformdirs
pooch
proglog
propcache
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
pysbd
python-dateutil
python-dotenv
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
setuptools
shellingham
six
sniffio
soundfile
soxr
sympy
tenacity
tensorboard
tensorboard-data-server
threadpoolctl
tiktoken
tokenizers
torch
torchaudio
tqdm
transformers
typeguard
typer
typing-inspection
typing_extensions
urllib3
websockets
Werkzeug
yarl
qwen-tts
torch
soundfile
